{% extends "base.html" %}

{% block content %}
    <h1>Umowa Sprzedaży Pojazdu</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
      <p>
          {{ form.miejsce_zawarcia.label }}<br>
          {{ form.miejsce_zawarcia(size=32) }}<br>
          {% for error in form.miejsce_zawarcia.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.data_zawarcia.label }}<br>
          {{ form.data_zawarcia(size=32) }}<br>
          {% for error in form.data_zawarcia.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

     <p>
          {{ form.imie_sprzedajacego.label }}<br>
          {{ form.imie_sprzedajacego(size=32) }}<br>
          {% for error in form.imie_sprzedajacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
     </p>

     <p>
          {{ form.nazwisko_sprzedajacego.label }}<br>
          {{ form.nazwisko_sprzedajacego(size=32) }}<br>
          {% for error in form.nazwisko_sprzedajacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
     </p>

      <p>
        {{ form.miasto_sprzedajacego.label }}<br>
        {{ form.miasto_sprzedajacego(size=32) }}<br>
        {% for error in form.miasto_sprzedajacego.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.ulica_sprzedajacego.label }}<br>
        {{ form.ulica_sprzedajacego(size=32) }}<br>
        {% for error in form.ulica_sprzedajacego.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    
    <p>
        {{ form.numer_sprzedajacego.label }}<br>
        {{ form.numer_sprzedajacego(size=32) }}<br>
        {% for error in form.numer_sprzedajacego.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
          {{ form.pesel_sprzedajacego.label }}<br>
          {{ form.pesel_sprzedajacego(size=32) }}<br>
          {% for error in form.pesel_sprzedajacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </p>

    <p>
        {{ form.dowod_sprzedajacego.label }}<br>
        {{ form.dowod_sprzedajacego(size=32) }}<br>
        {% for error in form.dowod_sprzedajacego.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
          {{ form.imie_kupujacego.label }}<br>
          {{ form.imie_kupujacego(size=32) }}<br>
          {% for error in form.imie_kupujacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </p>

    <p>
          {{ form.nazwisko_kupujacego.label }}<br>
          {{ form.nazwisko_kupujacego(size=32) }}<br>
          {% for error in form.nazwisko_kupujacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </p>

    <p>
        {{ form.miasto_kupujacego.label }}<br>
        {{ form.miasto_kupujacego(size=32) }}<br>
        {% for error in form.miasto_kupujacego.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.ulica_kupujacego.label }}<br>
        {{ form.ulica_kupujacego(size=32) }}<br>
        {% for error in form.ulica_kupujacego.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    
    <p>
        {{ form.numer_kupujacego.label }}<br>
        {{ form.numer_kupujacego(size=32) }}<br>
        {% for error in form.numer_kupujacego.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
          {{ form.pesel_kupujacego.label }}<br>
          {{ form.pesel_kupujacego(size=32) }}<br>
          {% for error in form.pesel_kupujacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </p>

    <p>
        {{ form.dowod_kupujacego.label }}<br>
        {{ form.dowod_kupujacego(size=32) }}<br>
        {% for error in form.dowod_kupujacego.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

      <p>
          {{ form.marka_auta.label }}<br>
          {{ form.marka_auta(size=32) }}<br>
          {% for error in form.marka_auta.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.model_auta.label }}<br>
          {{ form.model_auta(size=32) }}<br>
          {% for error in form.model_auta.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.rok_produkcji.label }}<br>
          {{ form.rok_produkcji(size=32) }}<br>
          {% for error in form.rok_produkcji.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.numer_rejestracyjny.label }}<br>
          {{ form.numer_rejestracyjny(size=32) }}<br>
          {% for error in form.numer_rejestracyjny.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
            {{ form.numer_vin.label }}<br>
            {{ form.numer_vin(size=32) }}<br>
            {% for error in form.numer_vin.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.cena.label }}<br>
            {{ form.cena(size=32) }}<br>
            {% for error in form.cena.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.czy_przebieg.label }}<br>
            {{ form.czy_przebieg() }}<br>
            {% for error in form.czy_przebieg.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.przebieg.label }}<br>
            {{ form.przebieg(size=32) }}<br>
            {% for error in form.przebieg.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.czy_uwagi.label }}<br>
            {{ form.czy_uwagi() }}<br>
            {% for error in form.czy_uwagi.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.uwagi.label }}<br>
            {{ form.uwagi(size=32) }}<br>
            {% for error in form.uwagi.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
