{% extends "base.html" %}

{% block content %}
    <h1>Umowa Kupna</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
      <p>
          {{ form.miejsce_zawarcia.label }}<br>
          {{ form.miejsce_zawarcia(size=32) }}<br>
          {% for error in form.miejsce_zawarcia.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.data_zawarcia.label }}<br>
          {{ form.data_zawarcia(size=32) }}<br>
          {% for error in form.data_zawarcia.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.imie_sprzedajacego.label }}<br>
          {{ form.imie_sprzedajacego(size=32) }}<br>
          {% for error in form.imie_sprzedajacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.nazwisko_sprzedajacego.label }}<br>
          {{ form.nazwisko_sprzedajacego(size=32) }}<br>
          {% for error in form.nazwisko_sprzedajacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.pesel_sprzedajacego.label }}<br>
          {{ form.pesel_sprzedajacego(size=32) }}<br>
          {% for error in form.pesel_sprzedajacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.imie_kupujacego.label }}<br>
          {{ form.imie_kupujacego(size=32) }}<br>
          {% for error in form.imie_kupujacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.nazwisko_kupujacego.label }}<br>
          {{ form.nazwisko_kupujacego(size=32) }}<br>
          {% for error in form.nazwisko_kupujacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <p>
          {{ form.pesel_kupujacego.label }}<br>
          {{ form.pesel_kupujacego(size=32) }}<br>
          {% for error in form.pesel_kupujacego.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
